body {
  background-color: #0b0b0b;
  color: #e6e6e6;
  font-family: "Noto Nastaliq Urdu", serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

.container {
  padding: 20px;
}

h1 {
  color: #d8b4fe;
  font-size: 2rem;
  margin-bottom: 20px;
  text-shadow: 0 0 10px #8a2be2;
}

video {
  width: 80%;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 0 25px rgba(138, 43, 226, 0.5);
}

p {
  font-size: 1.3rem;
  line-height: 2;
  margin: 20px auto;
  width: 80%;
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.2);
}

button {
  background: linear-gradient(90deg, #8a2be2, #4b0082);
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: linear-gradient(90deg, #9d4edd, #3a0ca3);
  box-shadow: 0 0 10px #9d4edd;
}

audio {
  display: none;
}
